@media screen and (max-width: 500px) {
  section {
    margin-top: 40px; }

  section > .contact {
    padding-top: 17.5px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto; }
    section > .contact .message {
      margin-bottom: 15px; }
    section > .contact input[type="text"], section > .contact input[type="submit"], section > .contact textarea {
      width: 100%; }
    section > .contact .nom, section > .contact .message, section > .contact .send {
      float: none; } }
@media screen and (max-width: 349px) {
  input[type=text] {
    width: 100%; } }

/*# sourceMappingURL=mobile.css.map */
