body {
  margin: 0;
  background: url("/images/background.jpg") center no-repeat;
  height: auto;
  font-family: 'Josefin Sans', sans-serif;
  background-size: cover; }

header {
  background: #a7a7a7;
  height: 62px;
  width: 100%; }
  header .logo img {
    float: left;
    margin-left: 18px;
    margin-top: 18px; }
  header .social img {
    float: right;
    margin-right: 18px;
    margin-top: 18px; }

section {
  margin-top: 118px;
  margin-right: auto;
  margin-left: auto;
  background: rgba(230, 230, 230, 0.7);
  height: auto;
  max-width: 454px;
  -moz-box-shadow: 5px 5px 9px 0px #000000;
  -webkit-box-shadow: 5px 5px 9px 0px #000000;
  -o-box-shadow: 5px 5px 9px 0px #000000;
  box-shadow: 5px 5px 9px 0px #000000; }

section > .contact {
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  height: auto; }
  section > .contact form {
    height: auto; }
  section > .contact input[type=text] {
    width: 169px;
    height: 35px;
    background: #a7a7a7;
    border: none;
    font-size: 15px;
    color: white;
    margin-bottom: 15px; }
  section > .contact .send {
    float: right;
    margin-bottom: 25px; }
  section > .contact .clear {
    clear: both; }
  section > .contact input[type=submit] {
    font-size: 15px;
    color: white;
    line-height: 33px;
    cursor: pointer;
    background: #a7a7a7;
    width: 115px;
    border: none; }
  section > .contact input[placeholder] {
    padding-left: 10px; }
  section > .contact textarea[placeholder] {
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px; }
  section > .contact textarea {
    width: 200px;
    height: 135px;
    background: #a7a7a7;
    border: none;
    font-size: 15px;
    color: white;
    resize: none;
    overflow-y: none; }
  section > .contact .nom {
    float: left; }
  section > .contact .message {
    float: right; }

/*# sourceMappingURL=style.css.map */
