@media screen and (max-width: 500px) {

  section {
    margin-top: 40px;
  }
  section > .contact {
    padding-top: 17.5px;
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    .message {
      margin-bottom: 15px;
    }

    input[type="text"], input[type="submit"], textarea {
      width: 100%;
    }

    .nom, .message, .send {
      float: none;
    }

  }
}

@media screen and (max-width: 349px) {
  input[type=text] {
    width: 100%;
  }
}
